<h4 class="my-3 mb-1">Autocomplete Country List</h4>
<form class="example-form" [formGroup]="form">
    <mat-form-field class="example-full-width">
        <mat-label>Select Country</mat-label>
        <input type="text" matInput formControlName="country" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onChangeCountry($event.target.value)">
            <mat-option *ngFor="let country of filteredCountries | async" [value]="country.CountryName">
                {{country.CountryName}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
