<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-autocomplete></app-autocomplete>
        </div>


        <div class="col-md-6 col-xs-12">
            <h4 class="my-3 mb-1">Select Country List</h4>
            <div class="form-group">
                <label>Select Country</label>
                <select class="form-control" (change)="onChangeCountry($event.target.value)">
                    <option *ngFor="let country of countryInfo; let i = index" value="{{i}}">{{country.CountryName}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label>Select State</label>
                <select class="form-control" (change)="onChangeState($event.target.value)">
                    <option *ngFor="let state of stateInfo; let j = index" value="{{j}}">{{state.StateName}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Select City</label>
                <select class="form-control">
                    <option *ngFor="let city of cityInfo; let k = index" value="{{k}}">{{city}}</option>
                </select>
            </div>

        </div>
    </div>
</div>